/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar {
    background-color: #1f1f1f;
    padding: 0;
    margin: 0;
}

.navbar-toggler-icon {
    width: 2rem; 
    height: 2rem; 
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.logo-img {
    padding: 0;
    margin: 0;
    width: 80px;
    height: auto;
}

.nav-link {
    color: #66A5AD;
}

.nav-link {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease; 
}

.nav-link:hover {
    color: #66A5AD;
    transform: scale(1.05); 
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; 
    width: 100%;
    background-color: #66A5AD;; 
    transform: scaleX(0);
    transition: transform 0.3s ease; 
}

.nav-link:hover::after {
    transform: scaleX(1);
}

/* landing */
#landing {
    padding: 5rem 10%;
    background-color: #1a1a1a;
    gap: 2rem;
    margin: auto;
}

#landing img {
    max-width: 400px;
    border-radius: 50px;
    text-shadow: #C4DFE6;
    transition: transform 0.3s;
}

#landing img:hover {
    transform: scale(1.1);
}

.text-content h1 {
    font-size: 3rem;
    color: #66A5AD;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5rem;
}

.text-content h3 {
    font-size: 1.5rem;
    color: #C4DFE6;
    margin-bottom: 1rem;
}

.picture {
    filter: drop-shadow(2px 2px 8px gray);
}

/* .text-content p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 600px;
    color: white;
} */

/* projects */
#projects {
    background-color: #1f1f1f;
}

.title-section {
    font-size: 2.5rem;
    color: #66A5AD;
    text-align: center;
    margin-bottom: 2rem;
} 

.low-opacity-border {
    border: .1px solid #66A5AD; 
    overflow: hidden; 
    position: relative;
}

.img-fluid {
    transition: transform 0.3s ease;
}

.low-opacity-border:hover .img-fluid {
    transform: scale(1.1); 
}

/* tool */
#tools {
    background-color: #1a1a1a;
}

.img-fluid {
    transition: transform 0.3s ease, opacity 0.3s ease;
    max-width: 100px;
  }
  
  .img-fluid:hover {
    transform: scale(1.1); 
    opacity: 0.8; 
  }
  

/* contact */
#contact {
    background-color: #1f1f1f;
}

.social-icons {
    display: flex;
    gap: 1rem; 
}

.social-icon {
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(1px 1px 5px gray);
}

.social-icon:hover {
    transform: scale(1.2); 
    filter: brightness(1.2);
    filter: drop-shadow(1px 1px 5px gray);
}

.map-container, .form-container {
    padding: 15px;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.contact-map{
    border: 0;
}

.button-send {
    background-color: #66A5AD; 
    color: white;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .button-send:hover {
    background-color: #77c0c9; 
  }

  #contact h4 {
    color: #66A5AD;
  }
  



